@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;}
.box{position:relative;width:682px;height:380px;margin:0 auto;color:#fff;}
.box ul{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}
.box ul li{width:100%;height:100%;display:none;}
.box ul li.active{display:block;}
.box .text{position:absolute;bottom:0;left:0;width:100%;height:105px;padding-top:15px;background:rgba(0,0,0,0.5);overflow:hidden;}
.box .text div{width:580px;display:none;margin-left:20px;}
.box .text div.active{display:block;}
.box .text div span{color:#ef3929;}
.box ol{position:absolute;right:5px;bottom:10px;width:75px;height:10px;overflow:hidden;}
.box ol li{width:10px;height:10px;background:#fff;margin-right:5px;float:left;}
.box ol li.active{background:#ef3929;}
.box .btn a{position:absolute;width:48px;height:48px; z-index:5;background:rgba(0,0,0,0.5);top:50%;margin-top:-24px;font-size:36px;color:#fff;text-align:center;line-height:40px;text-decoration:none;}
a#next{right:0;}
a#prev{left:0;}
.box .btn a.active{background:#ef3929;}
.box .wb{position:absolute;width:128px;height:16px;background:#ef3929;bottom:26px;right:107px;font-size:12px;text-align:center;}
.box .wb a{color:#000;text-decoration:none;}